.container {
    display: grid;
    grid-template-areas: 
                        "header header header"
                        "sidebar content content"
                        "footer footer footer";
    grid-gap: 10px;
    grid-template-columns: 16% 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}
.header {
    background-color: darksalmon;
    height: 100px;
    grid-area: header;
}
.sidebar {
    background-color: rgb(26, 92, 35);
    grid-area: sidebar;
}
.content {
    background-color: rgb(238, 201, 106);
    grid-area: content;
}
.footer {
    background-color: turquoise;
    grid-area: footer;
}